p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
font-weight: bold;}
       body { margin: 0%;}
.first {
    background-color: rgb(35, 35, 150);
    height: 1cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
.second { 
    display: inline;
    padding: 20px;
    color: white;
    font-size: 20px;
    position: relative;
    top: 6px
}   
.third {
    float: right;
    margin-right: 3cm;
}

.second2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: none;
    height: 4cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 35, 150);
}

.second4 { 
    color: rgb(192, 159, 29);
    font-weight: bold;
    text-transform: uppercase;
    font-size: xx-large;
}

.second3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: x-large;
}

.third2 {
    height: 1.5cm;
    background-color: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.third1 {
    display: inline;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2cm;
    margin-right: 2cm;
    padding: 40px;
    color: rgb(35, 35, 150);
    font-size: 18px;
    font-weight: bold;
    top: 6px;
    border-top: 1px solid rgba(0, 0.5, 0, 0.5);
    position: relative;
}

.hhref {
    text-decoration: none;
}

.fourth {
    background-image: url("https://get.pxhere.com/photo/sea-coast-ocean-dock-pier-vacation-vehicle-bay-harbor-port-terminal-infrastructure-crane-948522.jpg");
    background-attachment: fixed;
    height: 500px;
    margin: none;

}

.fourth1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.fourth2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.fourth3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    border: 5px solid white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
}
.fifth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
}

.fifth1, .fifth2, .fifth3 {
    border: 5px solid rgb(35, 35, 150);
    border-radius: 5%;
}


.fifth div {
position: relative;
display: inline-block; 
width: 250px;
height: 250px; 
border: 3px solid rgb(35, 35, 150); 
text-align: center; 
overflow: hidden;
}

.sixth {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: larger;
color: rgb(35, 35, 150);
font-weight: bold;
text-transform: uppercase;
text-align: left;
margin-left: 4cm;
}

.sixth1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: large;
color: rgb(218, 163, 13);
font-weight: bold;
text-transform: uppercase;
}
.sixth2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
    text-decoration: none;
}
.maingoal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.goal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(33, 33, 33);
    font-size: large;
    margin-left: 600px;
    animation: slideInRight 1s forwards;
    flex: 1; 
    margin-left: 20px;
    
}
.goalimg {
    margin-left: 0%;
    animation: slideInLeft 1s forwards;
    flex: 0 0 auto;
}

.goalintro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 35, 150);
    font-size: x-large;
    border-bottom: 1px solid rgb(218, 163, 13);
    font-weight: bolder;
    text-transform: uppercase;
}


@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.map {
text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: xx-large;
color: rgb(35, 35, 150);
}

.greeting {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(35, 35, 150);
    font-size: 35px;
    font-weight: bold;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}